<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cities</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="home">Home</a>
        </nav>
    </header>

    <main>
        <h1 style="font-size: 30px;"><b>Cookies</b></h1>
        <p style="font-size: 25px;">
            {% if error %}
            This page does not exist, try another one, or return home. (the link above) 
            {% elif cookies %}
            I use essential cookies to authenticate users.<br>
            After logging into an account,
            a JWT token is stored in a cookie to maintain the authenticated session.<br>
            This token is not used for advertising or user tracking.
            {% elif ips %}
            I store the IP addresses of users who submitted an authorization code for spam protection purposes.<br>
            I cannot view these IP addresses, and they are deleted whenever the site is redeployed.<br>
            I hope for your understanding.
            {% endif %}
        </p>
    </main>
</body>

</html>
