<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cities</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div>
            <div class="center">
                <input type="text" id="myInput">
                <button type="button" class="save" onclick="trade()">Save</button>
                <button type="button" class="clear" onclick="document.getElementById('myInput').value=''">Clear</button>
            </div>
            <h1 id="header" style="display: none; font-size: 20px;"></h1>
            <h3 style="display: inline">Population: </h3>
            <p class="box" id="result"></p>
            <h3 style="display: inline;"><br>Description: </h3>
            <p class="box" id="dscr"></p>
            <img id="img" class="box" alt="Error loading image..">

        </div>
    </main>

    <footer>

    </footer>
    
    <script>
            function trade() {
                const cityName = document.getElementById("myInput").value;
                const result = document.getElementById('result');
                const header = document.getElementById('header');
                const description = document.getElementById('dscr');
                const image = document.getElementById('img');
                const boxes = document.querySelectorAll(".box");
                
                fetch("/trade", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({ message: cityName })
                })
                .then(response => response.json())
                .then(data => {console.log(data)
                    image.src = data.image;
                    if ("name" in data) {
                        result.textContent = `${data.name} has a population of ${data.population}!`
                        description.textContent = data.description
                        boxes.forEach(box => {
                            box.classList.add("visible");
                        });
                        header.textContent = "City: " + data.name
                        header.style.display = "block"
                    } else if ("error" in data) {
                        header.style.display = "block"
                        header.textContent = data.error
                        boxes.forEach(box => {
                            box.classList.remove("visible");
                        });
                    }
                })
            }
            
    </script>
</body>

</html>
