<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <main class="center2">
        <h1 id="warning" style="display: none">That username is already taken!</h1>
        <input type="text" id="username" style="width: 400px" placeholder="Username">
        <input type="password" id="password" minlength="4" style="width: 400px" placeholder="Password">
        <div class="buttons">
            <button type="button" class="pill red" onclick="login()">Log in</button>
            <button type="button" class="pill blue" onclick="reg()">Sign up</button>
        </div>
    </main>
    <script>
        function reg() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            fetch("/reg", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({ user: username, passw: password})
            }
        )
        .then(response => response.json())
        .then(data => {
            if (data.owned == true) {
                document.getElementById("warning").style.display = "block"
            } else if (data.error == 'The password must contain at least 4 characters!') {
                document.getElementById('warning').innerHTML = data.error
                document.getElementById('warning').style.display = "block"
            } else {
                window.location.href = '/profile'
            }
        })
    }

        function login() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            fetch("/login", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({ user: username, passw: password})
            }
        )
        .then(response => response.json())
        .then(data => {
            if (data.error == "The password is incorrect") {
                document.getElementById('warning').innerHTML = data.error
                document.getElementById('warning').style.display = "block"
            } else if (data.error == "User is not found.") {
                document.getElementById('warning').innerHTML = data.error
                document.getElementById('warning').style.display = "block"
            } else if (data.error == 'The password must contain at least 4 characters!') {
                document.getElementById('warning').innerHTML = data.error
                document.getElementById('warning').style.display = "block"
            } else {
                window.location.href = '/profile'
            }
        })
    }
    </script>
</body>

</html>
